/* this is my own css */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgba(144, 231, 253, 0.637);
}

.App {
  text-align: center;
}

.blog{
  padding: 20px;
}

footer{
  background-color: rgba(149, 204, 255, 0.486);
  padding: 10px;
  font-size: 22px;
}